# Environment Variables
.env
.env.local
*.env

# Dependencies
node_modules/
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
build/

# Operating System & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
